<style>
.whatsapp-button {
  position: fixed;
  bottom: 37px;
  {% if section.settings.button_position == 'bottom-right' %}
  right: 20px;
  {% else %}
  left: 20px;
  {% endif %}
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  z-index: 1000;
}

.whatsapp-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>

<div class="whatsapp-button">
  <a href="https://wa.me/447999836562" target="_blank" aria-label="Chat on WhatsApp">
 
      <img src="{{ 'whatsapp1.png' | asset_url }}" alt="WhatsApp">

  </a>
</div>


{% schema %}
{
  "name": "WhatsApp Floating Button",
  "settings": [
    {
      "type": "text",
      "id": "phone_number",
      "label": "WhatsApp Phone Number",
      "default": "1234567890",
      "info": "Enter the WhatsApp phone number with country code (e.g., 1234567890 for +1 234 567 890)"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Predefined Message",
      "default": "Hello! I would like to ask about your products.",
      "info": "This message will be prefilled when the user clicks the button."
    },
    {
      "type": "select",
      "id": "button_position",
      "label": "Button Position",
      "default": "bottom-left",
      "options": [
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        }
      ]
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#25D366"
    },
    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Button Icon",
      "info": "Upload an icon for the button, or leave empty for default WhatsApp icon."
    }
  ]
}
{% endschema %}
